body {
   background: white;
   font-family: sans-serif;
   font-size: 10pt;
   }
.hide, #menu {
   display: none;
   }
#wrapper, #content {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
   }
div#content {
   margin-left: 10%;
   padding-top: 1em;
   border-top: 1px solid #930;
   }
div#mast {
   margin-bottom: -8px;
   }
div#mast img {
   vertical-align: bottom;
   }
a:link, a:visited {
   color: #520;
   background: transparent;
   font-weight: bold;
   text-decoration: underline;
   }
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }
#content a[href^="/"]:after {
   content: " (http://svn.ggpsystems.co.uk/intranet/" attr(href) ") ";
   }
table {
   border-width: 1px 1px 1px 1px;
   border-spacing: 0px;
   border-style: outset outset outset outset;
   border-color: gray gray gray gray;
   border-collapse: separate;
   background-color: white;
   }
table th {
   border-width: 1px 1px 1px 1px;
   padding: 1px 1px 1px 1px;
   border-style: inset inset inset inset;
   border-color: gray gray gray gray;
   background-color: white;
   }
table td {
   border-width: 1px 1px 1px 1px;
   padding: 1px 1px 1px 1px;
   border-style: inset inset inset inset;
   border-color: gray gray gray gray;
   background-color: white;
   }
