#sprite {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

#sprite img {
    position: absolute;
    width: 78px;
    height: 78px;
}

#chocolate {
    left: -5px;
    top: -5px;
}

#darkblue {
    left: -31px;
    top: -5px;
}

#darkcyan {
    left: -5px;
    top: -31px;
}

#darkgoldenrod {
    left: -31px;
    top: -31px;
}

#darkmagenta {
    left: -57px;
    top: -5px;
}

#darkred {
    left: -57px;
    top: -31px;
}

#dimgrey {
    left: -5px;
    top: -57px;
}

#ggpgreen {
    left: -31px;
    top: -57px;
}
